<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="resources/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="resources/js/main.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <title>Todo App</title>

</head>
<body>
<main role="main" class="container" id="root">
    <div class="todo-app">
        <div class="app-header d-flex"><h1>Todo ListItem</h1>
            <input type="checkbox" ng-model="x.done" value="" id="all">
        </div>
        <form class="bottom-panel d-flex" id="form">
            <input type="text" id="in" class="form-control new-todo-label"
                   placeholder="What needs to be done?" value="">
            <button type="button" id="add" class="btn btn-outline-secondary">Add</button>
        </form>
        <ul class="todo-list list-group" id="ul">
            <li class="list-group-item"><input type="checkbox" ng-model="x.done">
            </li>
        </ul>
    </div>
</main>
</body>
</html>
